dash==1.0.2
dash-core-components==1.0.0
dash-daq==0.1.0
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.2
decorator==4.4.0
pyparsing==2.4.0
pytest==4.6.5
pytest-mock==1.11.1
pytest-rerunfailures==7.0
pytest-sugar==0.9.2
selenium==3.14.0


